.title {
  padding: 0 10px;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  color: #888888;
  text-align: center;
}
.disabled {
  color: #a8a8a8;
}
.disabled .select-triangle {
  border-top-color: #a8a8a8;
}
.item-select-wrap {
  position: relative;
  float: right;
  width: 265px;
  height: 20px;
}

.item-select-wrap select {
  right: 20px;
  top: 4px;
}
.item-select-wrap .select-triangle {
  right: 0;
  top: 10px;
  pointer-events: none;
}
